APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

DB_CONNECTION=jawsdb
JAWSDB_URL='mysql://root:@localhost:3306/foostastic'

CACHE_DRIVER=memcached
QUEUE_DRIVER=sync

OAUTH_CLIENT_ID=320764937824-39v2usg5ua0pbv9fqf67crepdfl41v10.apps.googleusercontent.com
OAUTH_CLIENT_SECRET=fIXsW3upexfByPcZC1rIanwe
OAUTH_CLIENT_REDIRECT=https://6d59bf1b.ngrok.io/loginCallback
